.container {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 859px;
}

.employee_table {
    width: 100%;
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
}

.employee_table thead {
    background-color: #3498DB;
}

.first_name_column {
    width: 20.5%;
}

.last_name_column {
    width: 20.1%;
}

.job_title_column {
    width: 36.2%;
}

.twitter_column {
    width: 23.2%;
}

.employee_table th {
    color: #FFF;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
}

.employee_table th, .employee_table td {
    border: #CFCFCF 1px solid;
    padding: 12px;
}

.employee_table td {
    color: #000;
    font-size: 23px;
}

.employee_table tbody tr:nth-child(odd) {
    background-color: #EEE;
}